.html.body {
    width: 100%;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;    
    height: 100%; 
    display: flex; 
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
} 


#h2TrendingMovies {
    text-align: center;
}

.navbar {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#Title {
    text-align: center;
}
#Paragraph{
    text-align: center  ;
}
